.background-container {
  background-color: #f5d0fe;
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 14px;
  text-align: center;
}
.heading-editable-text {
  font-family: 'Roboto';
  font-size: 38px;
  font-weight: 600;
  color: #000000;
}
.input-element {
  height: 40px;
  width: 240px;
  border: 1px solid #cbd2d9;
  border-radius: 10px;
  font-size: 18px;
  color: #323f4b;
  outline: none;
}
.buttn {
  background-color: #d946ef;
  color: #ffffff;
  padding: 5px;
  font-family: 'Roboto';
  font-size: 18px;
  border: none;
  border-radius: 8px;
  margin-left: 8px;
  height: 40px;
  width: 80px;
  cursor: pointer;
}
.para-text {
  font-family: 'Roboto';
  font-size: 18px;
  color: #323f4b;
}
.text-container{
  display: flex;
  align-items: center;
}